#modalBackdrop {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	left: -100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	z-index: var(--chocante-modal-backdrop-z-index, 1000);
	background: var(--chocante-modal-backdrop-background, rgba(0, 0, 0, 0.6));
	opacity: 0;

	&.transition {
		transition: 0.5s opacity ease-in;
		left: 0;
	}

	&.show {
		opacity: 100;
	}
}

.chocante-modal {
	position: fixed;
	width: 900px;
	height: 100%;
	max-width: 90vw;
	max-height: 90vh;
	top: -100%;
	left: 50%;
	overflow-y: auto;
	z-index: 1001;
	z-index: var(--chocante-modal-z-index, 1001);
	transform: translate3d(-50%, -200%, 0);
	background-color: var(--chocante-modal-background, white);

	@media (min-width: 768px) {
		height: 600px;
	}

	&.transition {
		top: 50%;
		transition: 0.3s transform ease-out;
	}

	&.show {
		transform: translate3d(-50%, -50%, 0);
	}

	#modalClose {
		position: absolute;
		bottom: 0;
		right: 0;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.2rem;
		z-index: 50;
		padding: 0.2rem;
		font-size: 0.8rem;
		background-color: var(--chocante-modal-background, white);
		color: var(--chocante-modal-close-color, rgba(0, 0, 0, 0.6));
		min-width: 85px;
		line-height: 18px;
		text-transform: uppercase;
		font-size: 0.75em;
		font-weight: bold;

		& > * {
			opacity: 0.7;
		}

		&:hover > * {
			opacity: 1;
		}
	}
}
